[uwsgi]
chdir           = /path/to/your/project
module          = fwchooser:application

master          = true
processes       = 6

socket          = fwchooser.sock
chmod-socket    = 664
vacuum          = true
