<html>
<head>
    <meta charset="utf-8">
    <title>Index of %(path)s</title>
    <link rel="stylesheet" href="/main.css" >
</head>
<body>
<h1>Index of %(path)s</h1>
<hr>
<table>
<tr><th class="n">File Name</th><th class="s">File Size</th><th class="d">Date</th></tr>
%(table)s
</table>
</body>
</html>
